<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="container card">

                <div class="card-body">

                    <div class="container-fluid mt-1">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="container mt-3 text-center">
                                    <img src="" style="height: 200px; width: 200px;" class="my_profile_picture"
                                        th:src="@{/images/defaultProfileImg.webp}" alt="">
                                </div>
                                <h3 class="text-center mt-3"><span th:text="${user.name}"></span></h3>

                                <table class="table text-center mt-5">
                                    <thead>
                                        <tr>
                                            <th scope="col">#USER ID</th>
                                            <th scope="col"><span th:text="${user.id}"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td><span th:text="${user.email}"></span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Account Active</th>
                                            <td th:text="${user.enabled ? 'Yes':'No'}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Role</th>
                                            <td th:text="${user.role}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">About</th>
                                            <td><span th:text="${user.about}"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- <div th:unless="${contact}" class="text-center bg-danger text-white">
                            <h1>Your are not Authorized to access this Content</h1>
                        </div> -->

                        </div>

                    </div>

                </div>

            </div>

        </div>

        </div>

        <script>
            $(document).ready(() => {
                $("#profile-link").addClass("active");
            })
        </script>
    </section>
</body>

</html>