<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page</title>
</head>

<body>
    <section>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" style="height: 230px;" class="col-md-12 border border-light rounded">

                            <div class="container mt-2">
                                <!-- message box -->
                                <div th:if="${session.message}" class="container text-center">
                                    <div style="height: fit-content;">
                                        <div th:classappend="${'alert-' + session.message.type}" class="" role="alert">
                                            <span th:text="${session.message.content}"></span>
                                        </div>
                                    </div>
                                    <!-- remove the message -->
                                    <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                                </div>
                            </div>

                            <h1 class="text-light text-center mt-3">Forgot Password</h1>

                            <form method="post" th:action="@{/verify-otp}">
                                <div class="container form-group mt-4">
                                    <input type="email" name="email" required class="form-control"
                                        placeholder="Enter Your Registered email" />
                                </div>

                                <div class="container text-center">
                                    <button type="submit" class="btn btn-warning mt-3">Send OTP</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>