<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="my-card">
                        <div class="text-center">
                            <img src="" style="width: 90px;" th:src="@{/images/register.png}" alt="">
                        </div>
                        <h1 class="text-center">Register Here</h1>

                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
                            <p class="text-center" th:text="${session.message.content}"></p>
                            <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                            
                   
                        </div>
                        
                        <form novalidate action="" th:action="@{/do_register}" method="POST" th:object="${user}">

                            <!--User Name Field-->

                            <div class="mb-3">
                                <label for="name_field"
                                       class="form-label">Your Name</label>
                                
                                <input type="text"
                                       name="name" 
                                       placeholder="Enter Your Name" 
                                       class="form-control" 
                                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                       th:value="${user.name}"
                                       id="name_field"/>

                                    <div th:each="e : ${#fields.errors('name')}" th:text="${e}" 
                                       id="validationServer03Feedback" 
                                       class="invalid-feedback">
                                      Please provide a valid city.
                                  </div>
                            </div>

                            <!--User Email Field-->
                            
                            <div class="mb-3">
                                <label for="email_field"
                                       class="form-label">Your Email Address</label>
                                
                                <input type="text" 
                                       name="email"
                                       placeholder="Enter Your Email" 
                                       class="form-control" 
                                       th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                       th:value="${user.email}"
                                       id="email_field" required/>

                                <div th:each="e : ${#fields.errors('email')}" th:text="${e}" 
                                       id="validationServer03Feedback" 
                                       class="invalid-feedback">
                                      Please provide a valid city.
                                </div>
                            </div>

                            <!--User Password Field-->

                            <div class="mb-3">
                                <label for="password_field"
                                       class="form-label">Your Password</label>
                                
                                <input type="password   " name="password"
                                       placeholder="Enter Your Password" 
                                       class="form-control" 
                                       th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                       id="password_field" required/>

                                <div th:each="e : ${#fields.errors('password')}" th:text="${e}" 
                                       id="validationServer03Feedback" 
                                       class="invalid-feedback">
                                      Please provide a valid city.
                                </div>
                            </div>

                            <!--User about Field-->
                            <div class="mb-3">
                                <textarea name="about" th:text="${user.about}" id="about" rows="6" placeholder="Enter Something Yourself" class="form-control"></textarea>
                            </div>

                            <!--This is terms and condition agreement-->

                            <div class="mb-3 form-check">
                                <input name="agreement" type="checkbox" class="form-check-input" id="agreement">
                                <label class="form-check-label" for="exampleCheck1">Accept Terms and Conditions</label>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn bg-primary text-white">Submit</button>
                                <button type="reset" class="btn bg-warning ">Reset</button>
                            </div>

                        </form>

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>